.navbar {
    font-weight: 300;
    border-bottom:2px solid #eee!important;
    box-shadow:none!important;
    -webkit-box-shadow:none!important;
    padding:0px!important;
}

.btn-floating {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    background-color:#f9f8fe!important;
    border:1px solid #f9f8fe!important;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 47px;
    height: 47px;
}


